{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}


{% block container %}
<div class="container">
    <div class="card border-0 m-5">
        <form method="GET">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search here" aria-label="Search here"
                    aria-describedby="button-addon2" name="search-box" value="{{searched_key}}">
                <button type="submit" class="btn btn-outline-secondary mt-0" href="#">Search</button>
            </div>
        </form>
    </div>

    {% if searched_key %}
    <div class="mt-3">
        You Have Searched <i>"{{searched_key}}"</i>
    </div>


    <div class="row">
        <!--Search Results-->
        <div class="col-sm-12 col-md-8 order-md-0 order-1">
            <div class="my-3">
                Search Results
            </div>
            {% for i in showData %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">{{i.searchKeyWords}}</p>
                    <p class="card-text"><small class="text-muted">Time: {{i.createdTime}}</small></p>
                    <p class="card-text"><small class="text-muted">User: {{i.owner}}</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--Filter Section-->

        <div class="col-sm-12 col-md-4 order-md-1 order-0" style="overflow-y: auto;max-height: 100vh;" id="filters">
            <!--Keywords filter-->
            <div class="my-3">
                Search Filters
            </div>
            <div class="card p-3 mb-2" id="keywords">
                <h5 class="card-title">All Keywords:</h5>
                {% for key,value in keyWords.items %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{key}}" id="{{key}}"
                        onclick="checkInputAction()">
                    <label class="form-check-label" for="{{key}}">
                        {{key}}({{value}})
                    </label>
                </div>
                {% endfor %}
            </div>
            <!--Users Filter-->
            <div class="card p-3 mb-2" id="users">
                <h5 class="card-title">All Users:</h5>
                {% for i in users %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{i.username}}" id="{{i.username}}"
                        onclick="checkInputAction()">
                    <label class="form-check-label" for="{{i.username}}">
                        {{i.username}}
                    </label>
                </div>
                {% endfor %}
            </div>
            <!--Time Range Filter-->
            <div class="card p-3 mb-2" id="timerange">
                <h5 class="card-title">Time Range:</h5>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yesterday" id="yesterday"
                        onclick="checkInputAction()">
                    <label class="form-check-label" for="yesterday">
                        See data from yesterday
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="last_week" id="last_week"
                        onclick="checkInputAction()">
                    <label class="form-check-label" for="last_week">
                        See data from last week
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="last_month" id="last_month"
                        onclick="checkInputAction()">
                    <label class="form-check-label" for="last_month">
                        see data from last month
                    </label>
                </div>

            </div>
            <!--
                Filter Date
            -->
            <div class="card p-3 mb-2" id="date">
                <h5 class="card-title">Select Date:</h5>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="start-date" placeholder="start-date">
                    <label for="start-date">Start Date</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="end-date" placeholder="end-date">
                    <label for="end-date">end Date</label>
                </div>
            </div>

        </div>

    </div>

    {% endif %}

    <script>
        function checkInputAction() {
            let getFilterKeyWords = document.getElementById("keywords").getElementsByTagName("input");
            let getFilterUsers = document.getElementById("users").getElementsByTagName("input");
            let getFilterTimeRange = document.getElementById("timerange").getElementsByTagName("input");

            //let getCheck = getInputs.getElementsByClassName()
            let keyWords = new Array()
            let users = new Array()
            let timeRange = new Array()
            for (let i = 0; i < getFilterKeyWords.length; i++) {
                if (getFilterKeyWords[i].checked) {
                    keyWords.push(getFilterKeyWords[i].value)
                }
            }
            for (let i = 0; i < getFilterUsers.length; i++) {
                if (getFilterUsers[i].checked) {
                    users.push(getFilterUsers[i].value)
                }
            }
            for (let i = 0; i < getFilterTimeRange.length; i++) {
                if (getFilterTimeRange[i].checked) {
                    timeRange.push(getFilterTimeRange[i].value)
                }
            }
            
            let selectedData={
                'keywords':keyWords,
                'users':users,
                'time':timeRange
            };

            $.ajax({
                type: "POST",
                url: "{% url 'home' %}",
                dataType: 'json',
                data:{
                    'getSelectedData':JSON.stringify(selectedData),
                },
                success: function (response) {
                    //console.log($(response.context.campaign_title);

                    
                }
            });
        }
    </script>
</div>
{% endblock container %}