{% extends 'base.html' %}
{% load static %}

{% block container %}
<div class="container d-flex justify-content-center">
    <div class="card my-5" style="max-width: 30rem;">
        <div class="w-100 text-center">
            <span>Signup</span>
        </div>
        <form method="post" class="p-5"  action="{% url 'signup' %}" id="signup-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Sign up</button>
        </form>
    </div>
</div>
{% endblock container %}